{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <title>Document</title>
</head>

<body background='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHRjPEhkNfiW-iHhsTK7IV82DCt1xg46sq_8xfJlYclfATWjQy&s'>
    <div id="square">
        <font color='#5C0DAC'>
            <h1>
                <p align='center' class="">Кто такой Flash разработчик?!</p>
            </h1>

            <p>Flash-программисты или флэш-дизайнеры занимаются разработкой <br>
                flash-игр, интерактивных приложений, интерфейсов с анимацией, <br>
                звуком и сложной графикой и прочих анимированных элементов.
            </p>

            <p align='right'>
                В 2000-х годах flash-разработчики делали, в основном,<br>
                красивые баннеры и сайты с навороченной графикой. <br>
                10 лет спустя, с появлением мобильных устройств и <br>
                развитием интернет-рекламы,<br>
                работа специалистов стала разнообразней.
            </p>


            <div></div>
            <h1>
                <p align='center'>Обызанности Flash разработчика : </p>
            </h1>

            <ol class="1">
                <li>Разработка и проектирование игр и flash-приложений.</li>
                <li>Создание web-приложений (или их интерактивных элементов).</li>
                <li>Создание флэш-баннеров.</li>
            </ol>
            <h3>Flash разработчик знать и должен уметь :</h3>
            <ol class="1">
                <li>Знать Action Script 3.0.</li>
                <li>Понить ООП.</li>
                <li>Уметь разбираться в чужом коде.</li>
                <li>Знать английский язык (чтение технической литературы).</li>
                <li>Владеть Adobe Flash, FlashDevelop и другими программами.</li>
                <li>Знать PHP, MySQL, HTML5, JavaScript.</li>
                <li>Иметь опыт разработки под Android с помощью Adobe Air (Adobe Integrated Runtime).</li>
                <li> Умение работать с GPU (graphics processing unit).</li>

            </ol>
            <h1>
                <p>Зарплата Flash разработчика : </p>
            </h1>
            <h3>Она во всех странах разная...</h3>
            <p>В России она от 50000 р. и до 200000 р.</p>

    </div>
    </font>
    <div class="center">
        <a
            href="{% url 'tri_url' %}"><button
                class="btn">Далее==></button></a>
    </div>

</body>

</html>