{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <title>Document</title>
</head>

<body
    background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9uMVptO-FG2sYaMMdRZyt2fD64zlagOzledq_0sPM5vAMside&s">
    <div id='square' class="aqua">
        <h1>
            <p align='center'>Что он из себя представляет...</p>
        </h1>
        <p align='center'>Flash-специалист — это узкопрофильная профессия и для нее нет специального высшего
            образования.</p>
        <p align='center'>Чтобы стать разработчиком на flash, нужны только навыки и 4-5 завершенных работ, чтобы
            показать работодателю или клиенту.</p>
        <p align='center'>Не важно где вы получили навыки — дома упражнялись, на курсы ходили или работали у кого-то.
        </p>
        <p align='center'>Важно, чтобы вы умели создавать флэш-приложения и флэш-элементы под разные нужды.</p><br>
    </div>

    <a
        href="{% url 'four_url' %}"><button
            class='btn'>Далее ==></button></a></p>
</body>

</html>